extends ../shared/template
block content
  h1#congrats Congratulations!!!
  h3#congrats You just sent a fuzzy, furry gift to your crush!!! Now that's what we call Puppy Love!
  .row
    .col-xs-3
    .col-xs-7#congratsPhoto(style='background-image:url(/img/congrats.jpg)')
    .col-xs-2

block scripts

