extends ../shared/template
block content
  .container
    .row
      .col-xs-4
      .col-xs-6.h3 Send a Message
      .col-xs-2
    .row.backdrop.outline.bigger
        .col-xs-3
        .col-xs-6
          table.table
            tr
              form.contact(role='form', method='post', action='/messages/#{receiver}/send')
                .row
                  .col-xs-3
                    .radio
                      label
                        input(type='radio' name='mtype' value='text' checked=true)
                        span Text
                    .radio
                      label
                        input(type='radio' name='mtype' value='email')
                        span Email
                    .radio
                      label
                        input(type='radio' name='mtype' value='internal')
                        span Internal/Proposal
                  .col-xs-4

                .row
                  .col-xs-4
                    .form-group
                      label(for='message') Message
                      textarea.message#message(name='body', autofocus=true)
                    .form-group
                      button.btn.btn-info.btn-lg(type='submit'): i.fa.fa-paper-plane.fa-lg &nbsp; Send Message
                  .col-xs-4
        .col-xs-3




block scripts

