extends ../shared/template
block content
  .row
    .panel.panel-default
      .panel-heading
        h1.panel-title Message
      .panel-body
        .col-xs-12
          h3=(moment(message.sent).format('DD MMM, YYYY'))
        .col-xs-1
          h3#email From:
        .col-xs-3
          h3= message.from
        .col-xs-8

        .col-xs-12
          h3= message.body
block scripts

