extends ../shared/template
block content
  .row
    .panel.panel-default
      .panel-heading
        h1.panel-title Message
      .panel-body
        .col-xs-12
          h3=(moment(message.sent).format('DD MMM, YYYY'))
        .col-xs-6
          h3#email From:
        .col-xs-6
          h3: message.sender.email
        .col-xs-12
          h3=message.message
block scripts

