extends ../shared/template
block content
    .row.bigger
      .col-xs-3
      .col-xs-6
        table.table.backdrop
          tr
            th From
            th Date
              tr
                td=(moment(message.sent).format('DD MMM, YYYY'))
                td From: &nbsp
                  a(href='/messages/#{message.sender._id}/send') #{message.sender.username}
              tr
                td= message.body
      .col-xs-3

block scripts

