extends ../shared/template
block content
  .container
    .row
      .panel.panel-default
        .panel-heading
          h1.panel-title Message
        .panel-body
          .col-xs-1
            h5 Date:
          .col-xs-3
            h5=(moment(message.sent).format('DD MMM, YYYY'))
          .col-xs-8
          .row
          .col-xs-1
            h5 From:
          .col-xs-3
            h5= message.from
          .col-xs-8
          .row
          .col-xs-12
            h5= message.body
block scripts

