extends ../shared/template
block content
  h1 About Us!!!
  .row
    .col-xs-2
    .col-xs-8
      #about
        h4 About Furries:
        | Attack your ankles tincidunt a ac libero in viverra litter box, sunbathe vel justo scratched. Jump run justo tempus, in viverra tristique bibendum cras nec vel faucibus iaculis. Sleep in the sink sleep on your face meow kittens lick nam, knock over the lamp fluffy fur amet sollicitudin pharetra. Attack your ankles leap et chase the red dot tempus tail flick, accumsan lick quis sleep in the sink in viverra stuck in a tree. Sagittis hairball vehicula sollicitudin nam purr, sunbathe tincidunt a run rhoncus. Hairball sunbathe consectetur purr sleep in the sink, give me fish bat fluffy fur vel eat the grass. Rutrum hairball eat the grass catnip iaculis, cras nec adipiscing rutrum tincidunt a vestibulum.
        h4 About Furry Farm:
        | Toss the mousie ac eat leap accumsan, hiss mauris a quis lay down in your way feed me chase the red dot enim. Enim ut quis nunc climb the curtains scratched lay down in your way, aliquam mauris a rutrum lick ac tail flick. Puking sunbathe eat the grass jump vestibulum, vulputate pellentesque tail flick nunc mauris a hairball enim. Vestibulum vestibulum vulputate bat egestas, elit quis nunc run attack sunbathe hiss pharetra. Faucibus sunbathe vulputate claw sunbathe, claw stretching tail flick quis hairball suspendisse. Eat the grass eat faucibus vehicula hairball, attack enim faucibus purr tincidunt a litter box in viverra.
        h4 Where we're located:
        | Vehicula accumsan bat vel catnip pharetra, bat stuck in a tree sleep on your keyboard bat aliquam bat. Rutrum jump on the table kittens orci turpis enim ut, vulputate accumsan dolor sleep on your face rutrum nullam. Justo chase the red dot sleep in the sink chase the red dot stuck in a tree purr, lay down in your way iaculis kittens purr rhoncus. Sollicitudin sunbathe zzz feed me hairball pellentesque, faucibus tail flick nullam faucibus vulputate. Libero run rip the couch nibh bibendum I don't like that food, rhoncus vestibulum tristique litter box meow. Vehicula consectetur sleep on your keyboard amet fluffy fur orci turpis, vulputate faucibus meow rip the couch. Claw rutrum nibh kittens puking, amet zzz catnip lick ac vestibulum sollicitudin.
    .col-xs-2

block scripts
