extends ../shared/template
block content
  h1 Furry Farm
  h2 <i>The <strong>Exclusive</strong> Dating Website for Furries</i>
  .row.center: img.img.img-circle(src='/img/furry-banner.jpg')
  br
  br
  br
  h1 Mission Statement
  #MissionStatement
    .row.center.backdrop
      .col-xs-2
      .col-xs-8
        | Sagittis hiss eat the grass consectetur, stretching amet aliquam leap aliquam fluffy fur. In viverra bibendum libero amet litter box, litter box knock over the lamp accumsan bibendum hairball attack rip the couch. Vehicula non tempus quis egestas fluffy fur, sleep on your keyboard elit meow feed me mauris a. Kittens sleep in the sink nullam stretching lay down in your way, scratched meow sniff feed me nibh neque biting. Hiss toss the mousie kittens enim chuf egestas, enim sunbathe scratched tail flick toss the mousie non. Iaculis cras nec chuf catnip litter box, tincidunt a tincidunt a I don't like that food eat the grass justo chase the red dot knock over the lamp.
      .col-xs-2

block scripts
  script(src='/js/user/home.js')
